[user]
	email = mario@cliengo.com
	name = Mario Campbell
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	d = diff
	dn = diff --name-only
[core]
	editor = nvim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
# diff tool
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
# merge tool
[mergetool "nvim"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = nvim
[mergetool]
	prompt = false
	keepBackup = false
